.AA{
    background: red;
    width: fit-content;
}
.rr{
    background-color: blue;
    width: min-content;
}
.ff{
    background: green;
    width: max-content;
    
}
 .width{
    background: blue;
    width: 300px;
 }
 .width-m{
    background:pink ;
   
    min-width: 200px;
    margin-bottom: 40PX;
 }
 .height{
    background: red;
    height:100px;
    margin-bottom:30px;

 }
 .maxheight{
    background: purple;
    max-height:299px ;
 }
 .minheight{
   background:brown ;
   min-height:20px;
   margin-bottom:50PX;
 }
 .hey{width: 300px;
height:300px;
background: greenyellow;
border-radius:300px;
margin: auto;
margin-bottom:50%;
}
.section2{
   text-align: center;
   direction: rtl;

 }
 .JJ{
   text-transform: uppercase;
   text-transform: lowercase;
   text-transform: capitalize;
 }
 
.LL{
   letter-spacing:2px ;
   word-spacing: 30px;
   line-height: 100px;
   text-decoration-line: line-through overline underline ;
   text-decoration-color: red;
   text-decoration: wavy red line-through;
text-decoration:none;
}
/* 
text-shadow:horizontal-shadow vertical-shadow Blur color;
box-shadow:horizontal-shadow vertical-shadow Blur Spread color inset;
 */
.oo > p{
   text-align: center;
   text-decoration:dotted blue underline;
   text-shadow:5px 7px 1px blue,
   -7px -5px 1px red;
   text-transform: capitalize;
   
}
.lol{
   background: red;
   width: 200px;
   height: 100px;
   margin: auto;
   box-shadow: 1px 1px 10px 5px  blue inset,
   5px 5px 10px 10px green ;

}
.wrapping > p{  
background:orange ;
white-space:nowrap;
white-space: normal;
word-wrap: break-word;/* hedhi ki theb ta3mel espace hata ken jomla wahda les9a fi badhha houwa bech ye7tarem widht mta3 div wala eli houwa*/
}
.white-space{
   background: pink;
   width: 200px;
   white-space: pre;
   white-space: pre-wrap;
   white-space: pre-line;
}
#text1{
   font-family: "Playwrite AT", cursive;
   font-optical-sizing:auto;
   font: weight 100px;;
   font-style:normal;
}
  #text2{
   font-size:2em   ;
  }
  span{
   font-size: 10px;

  }
  /*normal text => 16px = 1em =100% */
    /*h1 => 32px = 2em= 200% */
#text3{
   font-style:italic;
   font-variant: small-caps;
}
#text4{
   font-weight: initial;
}
/* 
font-weight:
100 => thin
200 => semi light
300 => light
400 => normal
500 => medium
600 => semi bold
700 => bold
800 => ultra bold
900 => black
*/
#text5{
   font-style: italic;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 20px;
   font-variant: small-caps;
   font-weight: bold;
   font: italic small-caps bold 18px fantasy ;  
}
/* font shorthan =>   fonnt:font-style font-variant font weight font-size/line-height font-family  */
/* body{
  
   background-image:url(rep.jpg) ;
   background-repeat:norepeat;
   background-attachment:fixed ;
   
 }*/
body{
  /* height: 990px;
   border: 4px solid red;
   background-image: url(rep.jpg);
   background-repeat: no-repeat;
   background-position:center  ;
   background-size:contain /* cover*/
 
background-image: url(img/img2.jpg);
background-size: cover;
background-position:center ; 
border:10px double red;
background-origin:border-box ;
background-repeat:no-repeat ;
background-attachment: fixed;
   
 }
 .background{
   height: 200px;
   background-image:linear-gradient(60deg,red,green) ;
   
 }
 #radial-gradient{
   height:400px;
   background-image: radial-gradient(circle 400px at left bottom,red,yellow);
   /* elipse chakel baydhawi yelzmou toul w3aredh*/
 }
.parent{
   background-color:yellow ;
}
.red{
   background: red;
   width:50px ;
   height: 50px;
}
.green{
   background: green;
   width:50px ;
   height: 50px;
}
.blue{
   background: blue;
   width:50px ;
   height: 50px;
}
.float{
  float: right 
}
.clear{
   clear:left
;
}
.overflow{
  height: 200px;
  width: 200px;
  background-color: yellow;
  border: 5px dotted;   
  overflow: auto;/*scroll,hidden ama ahsen wahda hiya auto*/  

}
.parent2{
   background-color: skyblue;
   height: 200px ;
   width: 200px;
   padding: 10px;
}
.parent2 div{
   height: 50px;
}
.one{
   background-color: tomato;
   position: relative;/* sticky,fixed*/
   top: 30PX;
   left: 40px;
}
.two{
   background-color: gold;
   position: absolute;
   top: 39px;

   right:300px;
  
}

.three{ 
   background-color: darkviolet;
}
ul,ol{
   list-style-type: none ;
   list-style-position: inside;
   list-style-image: url();

}
table{
   width: 100%;
   border-spacing: 0px;
   box-shadow:1PX 1px 10px 10px burlywood;
   
}
th{
   background-color: #0b67d6b1;
   height: 20px;

}
td{
background-color: aqua;
height: 20px;
text-align: centre;
border:4px solid gold ;


}
.pseudo{
   height: 100px;
   width: 200px;
   background-color: black;
   background-size: contain;

}
.pseudo:hover{
background-color: blue;
height: 50px;
width: 100;
background-image: url(img/img1.jpg);
}
.pseudo:active{
   background-color: red;
}
/*.pseudo:empty{
   background-color: aquamarine;
}*/
a{
   color: black;
   text-decoration: none;
   font-size: 40px;
}
a:hover{
   color: blueviolet;
}
a:visited{
   color: gold;
}
a:link{
   color: blanchedalmond;
}
.fo:focus{
   background-color: rgb(148, 91, 17);

}
.inva:invalid{
   background-color: red;
}
.inva:valid{
   background-color:greenyellow ;
}
.chek:checked{
position:absolute;

right: 0;
}
.pselements::first-line{
   color:red ;
   background-color: black;
   font-size: 30px;
}
.pselements::first-letter{
   color: yellow;
}
.pselements::selection{
   background-color: aqua;
   color: bisque;
}
.pselements::after{
   content: 'test';
   color: aquamarine;
}
 h2+p{}/*sibling selector*/
 h1 ~ {}/* generale sibling selectors*/

  [type]{
   background-color: red;

  }
  /*
  1-[attr]
  2-element[attr]:input[type] 
  3-[attr="value"]:[type="text"]
  4-element[attr="value"]
  5-[attr ^="value"] :start with
  6-[attr $="value"] :end with
  7-[attr *="value"] :containing  a specified value
  8-[attr ~="value"] :containing  a specified word
  9-[attr ="value" i] :case sensitive
  */
  .transform{
   height: 80px;
   width: 80px;
   background-color: yellow;
  /* transform: translate(400px,20px);
   transform:scale(3);
   transform:rotate(30deg);
  transform:skew(10deg,20deg) 
  transform: matrix(1,0,0,1,0,0);*/
transform: 100px 20px;
  scale: 3 2;
  rotate:320deg ;
  
  }
  /*tfanslate == move(x,y)
  matrix(scaleX , skewy , skewX, scaleY, translateX , translateY)
  */
  .trasition{
   height: 30px;
   width: 80px;
   background-color: chocolate;
   color: blue;
   position: relative;
   bottom: 40px;
   left: 60px;
   transition: 4s ease-in-out 2s,height 2s;/*linear,steps(1,2..),step-end(),step-start() ,ease-in and ease-out*/
   
  }
  .trasition:hover{
   width: 100%;
   height: 200px;
   color:black;
   background: aqua;

  }
  .animation{
width: 100px;
height: 100px ;
background-color:black;  
animation-name: ghayth;
animation-duration: 2s;
animation-delay: 2s;
position: absolute;
top: 0;
left: 0;
border-radius: 20px;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: ease-in;
animation-fill-mode: forwards;

  }
  @keyframes ghayth{
  /* 0%{
background-color: red;
width: 0;
   }
   50%{
      background-color: green;

   }
   100%{     
background-color: aqua;
width: 200px;
   }*/
   0%{
      translate:0 0 ;
      rotate: 0;

   }
   25%{
      translate: 300px 0;
      background-color: yellow;
      rotate: 90deg;
   } 
   50%{
      translate: 300px 400px ;
      background-color: aquamarine;
      rotate: 180deg;
   }
   75%{
      translate:0 400px ;
      background: green;
      rotate: 270deg;
   }
   100%{
      translate:0 0;
      background-color:brown ;
      rotate:360deg;
   }
}
.animation:hover{
   animation-play-state: paused;
   cursor: grab;
}
.second{
   background-color: red;
   opacity: 0.3;

}
.first{
background-color: blue;
/*visibility:hidden;*/
display: none;
}
/*
hide:visibility:hidden;
delete:display:none
transparency: opacity: 0.3;
*/