h3,h2{ 
    color: green;


}

thead{color: blue;

}
tbody{
    color: burlywood;
}

  p.test{
    color: darkmagenta;


}
#ghayth{
    color: bisque;
}

div p strong{
    color: red;
}
div h2 strong{
    color: blue;
}
div > h2 {
    color: aquamarine ;
}
.section1 #list1 .jalabi{
    color: chartreuse;
}
.A > .b{
    color: red; 
}
 .C > .border{
    border: solid 3px red;
    width: 600px;  
    height:50px;
    padding: 100px 20PX 30pX 0px ;
    margin: 100px 100px 30PX 0PX;
 
 }  
 .D{
    height: 200px;
    background-color: blue;
width: 30%;
    margin-left:auto;
    margin-right: auto;


 }
 
.zindex{
    height: 50px;
    width: 100px;
    position:absolute ;
 }
 .red1{
    background-color: red;
    z-index: 1;
    
 }.green1{
    top: 20px;
    left: 20px;
    background-color: green;
    z-index: -3;
 
 }
 .bleu1{
    background-color: blue;
    top: 30px;
    left: 30px;
    z-index: -2;
 
 }
 .parent{
    background-color: gold;
    padding: 10px;
    height: 800px;
    display: flex;/*inline-flex:thotlek size ged eli andek */
    flex-direction:row ;/* (row-reverse,colomn-reverse)te9leblek chira*/
    flex-wrap: wrap;/*wrap-reverse :tala3lek lestar lfou9 3aks wrap*/
    flex-flow: row wrap;/*tajma3 eli 9balhom zouz */
    justify-content:flex-start;/*tnadhem blaset items//left ,right,center,flex-start:hedha fe row ama ki yabda ana column fe direction twali (te5dem al y) 3ana zeda space-between,space-around,space-evenly(t9asemlek lbo3d binethom belmeswi)*/
    align-items:flex-start;/*stretch hiya par defaut mawjouda tab3 lheight wala lwidth mta3 parent mte3ha */
    /*ki nabdew ne5dmou ala direction row align-items wel align-content ye5dmou al Y wel 3kaes fel direction column*/
    align-content: flex-start;/*hedhi te5dem ki yabda ana flex-wrap me5dha wrap 3akes align-items mouch lezem whedhi najem nekteb feh sapce-between wspace-around */
 }
 .parent div{
    padding: 10px;
    margin: 10px;
    
 }
 .item1{
    background-color: green;
    align-self: stretch;
    order: 1;
    flex-basis: 300px;
 }
 .item2{
    background-color: red;
    order :2;
    flex-grow: 1
 }
 .item3{
background-color: blue;
flex-shrink: 0;
 }
 .item4{
    background-color: violet;
    ;
 }

 